.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

.container {
  flex: 1;
  display: flex;
  background: #f5f5f5;
}

.sidebar {
  width: 20%;
  background: #fff;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  height: calc(100vh-20px);
  border-right: 1px solid #e5e5e5;
  padding: 20px 5px;
  --sidebar-border: 214 32% 91%;
}

.HomeArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  background-color: #f9fafc;
  min-height: calc(100vh);
  padding: 1.5rem; /* p-6 */
}

@media (min-width: 1024px) {
  .homeArea {
    padding: 2rem; /* lg:p-8 */
  }
}


